<ion-tabs>
  <ion-tab-bar slot="bottom" mode="md">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="compass">
      <ion-icon name="compass-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="bookmark">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
